// Default variable overrides
$body-bg: #fbfbfb;
$primary: #2C8DFF;
$M-primary: #2C8DFF;
$M-gray1:#fbfbfb;
$M-gray2:#f0f0f0;
$M-gray3:#d9d9d9;
$M-gray4:#949494;
$M-gray5:#3f3f3f;
$M-gray6:#242424;
$M-black:#000000;
$M-navy:#000000;
$M-red:#ff0000;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1200px
) !default;

h2{font-weight: 600 !important;margin-bottom:32px !important;letter-spacing: -.03rem;}
.container{
    position:relative;
    margin-top:40px;
    padding-right:0 !important;
    padding-left:0 !important;
}
.blind {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: 1px !important;
    overflow: hidden !important;
    clear: rect(0 0 0 0) !important;
}
.btn-box{display:inline-flex;margin-bottom:24px;position:absolute;right:0;top:0;}
.input-list-box{
  background: #fff;border:1px solid #d9d9d9;padding:16px 32px;border-radius:4px;
}
.sub-tab-item{
  background: #fff;border:1px solid #d9d9d9;padding:16px 32px;border-radius:4px;
}

.v3dp__datepicker{width:156px;height:40px;display:inline-block;--elem-hover-bg-color: var(--vdp-hover-bg-color, #2C8DFF);--elem-selected-bg-color:var(--vdp-selected-bg-color, #2C8DFF);
  & + .v3dp__datepicker{margin-left:61px;
    &::before{content: '~';position:absolute;width:12px;left:-37px;top:8px;}
  }
    .v3dp__input_wrapper{display: block;position:relative;height:100%;
      &::after{content: '';position:absolute;width:24px;height:24px;background: url(~/assets/ico-calendar.png) no-repeat;background-size:100%;top:8px;right:13px;}
      input{border-radius:4px;border:1px solid #d9d9d9 !important;width:100%;height:100%;padding-left:16px;color:#3f3f3f;}
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

.sign-container{display: flex;flex-direction:column;flex-grow:1;align-items:center;justify-content: center;
  .inner{width:360px;}
}

.input-box{
  div{position:relative;margin-top:24px;
    &:first-child{margin-top:0px;}
    &.on::before{filter: brightness(0%);}
    input.form-control{width:100%;height:42px;font-size:14px;color:$M-black;padding:12px 16px;
      &::placeholder{color:$M-gray4}
      &:focus{border-color:$primary;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 0px rgba(0, 0, 0, 0);}
    }
    label{display:flex;font-size:14px;color:$M-gray5;margin-bottom:8px;justify-content: space-between;
      span{color:$M-gray4;}
    }
    .input-inside{margin:0;}
    input + .inside-txt{position:absolute;font-size:14px;color:$M-gray4;top:12px;right:16px;}
  }
}

.error-msg{font-size: 12px;color:$M-red;}
// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/bootstrap";